.card {
    width: 50%;
    height: 50%;
}

.img-fluid {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

@media (max-width: 1080px) {
.img-fluid {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card {
    width: 60%;
    height: 60%;
}
}
